<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amn.easysharedpreferences">

    <application>
        <provider
            android:name=".EasySharedPreferenceProvider"
            android:authorities="${applicationId}.com.amn.easysharedpreferences"
            android:exported="false" />

    </application>
</manifest>

